<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Personal email:</strong>
    <%= employee.personal_email %>
  </p>

  <p>
    <strong>Work email:</strong>
    <%= employee.work_email %>
  </p>

  <p>
    <strong>Permanent mobile number:</strong>
    <%= employee.permanent_mobile_number %>
  </p>

  <p>
    <strong>Alternate mobile number:</strong>
    <%= employee.alternate_mobile_number %>
  </p>

  <p>
    <strong>Permanent address:</strong>
    <%= employee.permanent_address %>
  </p>

  <p>
    <strong>Resedential address:</strong>
    <%= employee.resedential_address %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= employee.dob_with_age %>
  </p>

</div>
